@import "../../styles/responsive";
.content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.99));
  height: 100%;
}

.overlay {
  height: 70vh;
  background: url("../../../assets/images/action-04.jpg") no-repeat center;
  background-size: cover;
  position: relative;
  color: white;
  @include md-screens {
    height: 80vh;
  }
}

/*
*/
.list {
  width: 100%;
  text-align: center;
  .list-item {
    width: 100%;
  }
  @include sm-screens {
    white-space: nowrap;
    overflow-x: auto;
    .list-item {
      width: 296px;
      padding: 0 10px;
      display: inline-block;
    }
  }
}

#about {
  height: 606px;
  background: url("../../../assets/images/action-05.jpg") no-repeat fixed center;
  background-size: cover;
  position: relative;
  .content {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 1));
  }
  @include md-screens {
    height: 531px;
  }
}

#episodes {
  .image-box {
    margin: auto;
    width: 265px;
    height: 175px;
    @include md-screens {
      height: 175px;
    }
  }
}

#contact {
  height: 577px;
  background: url("../../../assets/images/cover-image.jpg") no-repeat center;
  background-size: cover;
  position: relative;
  .content {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 1));
  }
  @include md-screens {
    height: 559px;
  }
}
