<app-toolbar></app-toolbar>
<main class="pb-8 md:pb-16">
    <section class="overlay">
        <div class="content pb-8 flex flex-column justify-content-end px-4 md:px-8">
            <h1 class="font-dancing-script text-4xl md:text-6xl flex align-items-center">
                <span>Numberonegirl</span>&nbsp;
                <img src="assets/images/tv.png" height="60" width="60" alt="">
            </h1>
            <h2 class="text-sm md:text-lg">
                <span>First original 100% cameroonian reality TV show</span><br>
                <span> We are aimed at bringing talents in young girls, increasing their ability to collaborate with each other.</span>
            </h2>
            <div class="py-3">
                <button routerLink="/episodes" class="bg-red-700 hover:bg-red-700 text-white font-bold py-2 px-5 rounded">
                    Watch
                </button>
                <span class="text-xl px-2"></span>
                <button routerLink="/contestants" class="bg-red-700 hover:bg-red-700 text-white font-bold py-2 px-5 rounded">
                    Vote contestant
                </button>
            </div>
        </div>
    </section>
<!--    contentants -->
    <div id="contestants" class="py-6 md:pt-16 md:pb-8 px-4 md:px-10">
        <div class="title border-b border-red-600 mb-4">
            <h1 class="text-2xl my-3">Contestants</h1>
        </div>
        <div class="mb-6 md:mb-8">
            <p>
            </p>
        </div>
        <div class="list pb-6">
            <div class="list-item mb-10 md:mb-0">
                <div class="contestant-card">
                    <div class="card-header">
                        <img src="../../../assets/images/female-silhoute-01.png" class="fill-img" alt="">
                    </div>
                    <div class="card-body py-3 px-4">
                        <h3 class="font-bold"></h3>
                        <h4></h4>
                    </div>
                </div>
            </div>
            <div class="list-item mb-10 md:mb-0">
                <div class="contestant-card">
                    <div class="card-header">
                        <img src="../../../assets/images/female-silhoute-01.png" class="fill-img" alt="">
                    </div>
                    <div class="card-body py-3 px-4">
                        <h3 class="font-bold"></h3>
                        <h4></h4>
                    </div>
                </div>
            </div>
            <div class="list-item mb-10 md:mb-0">
                <div class="contestant-card">
                    <div class="card-header">
                        <img src="../../../assets/images/female-silhoute-01.png" class="fill-img" alt="">
                    </div>
                    <div class="card-body py-3 px-4">
                        <h3 class="font-bold"></h3>
                        <h4></h4>
                    </div>
                </div>
            </div>
            <div class="list-item mb-10 md:mb-0">
                <div class="contestant-card">
                    <div class="card-header">
                        <img src="../../../assets/images/female-silhoute-01.png" class="fill-img" alt="">
                    </div>
                    <div class="card-body py-3 px-4">
                        <h3 class="font-bold"></h3>
                        <h4></h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer py-3 flex justify-content-start px-8">
            <a routerLink="/contestants" class="text-white hover:underline hover:text-red-600">View all</a>
        </div>
    </div>
<!--    about section-->
    <div id="about">
        <div class="content py-6 md:py-16 px-4 md:px-20">
            <div class="title border-b border-red-600 mb-6 md:mb-8">
                <h1 class="text-2xl my-3">About</h1>
            </div>
            <div class="text text-lg md:text-xl md:px-8">
                <p class="m-0">
                    Number One Girl is the first cameroonian Reality TV show, aimed at bringing talents in young girls, increasing
                    their ability to collaborate with each together.
                </p>
                <p class="m-0">
                    We offer a unique experience to the candidates and give a serious head start for the winner in any branch of the
                    entertainment industry.
                </p>
                <p class="m-0">
                    Number one girl is focused on empowering women. By encouraging them out of their comfort zones and building their confidence.
                </p>
                <p class="m-0"></p>
            </div>
            <div class="py-3 text-center">
                <button routerLink="/register" class="bg-red-700 hover:bg-red-700 mb-6 md:mb-0 text-white font-bold py-2 px-5 rounded">
                    Become a contestant
                </button>
                <span class="text-xl px-3 hidden md:inline">|</span>
                <button routerLink="/contestants" class="bg-red-700 hover:bg-red-700 text-white font-bold py-2 px-5 rounded">
                    Vote for contestant
                </button>
            </div>
        </div>
    </div>
    <!--episodes-->
    <div *ngIf="episodes" id="episodes" class="py-6 md:pt-16 px-4 md:px-10">
        <div class="title border-b border-red-600 mb-4">
            <h1 class="text-2xl my-3">Catch our recent episodes</h1>
        </div>
<!--        div-->
        <div class="list pt-6 pb-8 md:pb-18">
            <div class="list-item">
                <div class="image-box rounded bg-red-600">
                </div>
                <div class="body py-2">
                    <h3 class="font-bold">Season 02: Episode 23</h3>
                    <p class="line-clamp-2 text-sm">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos suscipit tempore veniam? Aut beatae doloremque
                        facere illum iure labore laborum nisi nostrum quam quas quasi recusandae reprehenderit sunt,
                        suscipit voluptatibus.
                    </p>
                </div>
            </div>
            <div class="list-item">
                <div class="image-box rounded bg-red-600">
                </div>
                <div class="body py-2">
                    <h3 class="font-bold">Season 02: Episode 23</h3>
                    <p class="line-clamp-2 text-sm">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos suscipit tempore veniam? Aut beatae doloremque
                        facere illum iure labore laborum nisi nostrum quam quas quasi recusandae reprehenderit sunt,
                        suscipit voluptatibus.
                    </p>
                </div>
            </div>
            <div class="list-item">
                <div class="image-box rounded bg-red-600">
                </div>
                <div class="body py-2">
                    <h3 class="font-bold">Season 02: Episode 23</h3>
                    <p class="line-clamp-2 text-sm">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos suscipit tempore veniam? Aut beatae doloremque
                        facere illum iure labore laborum nisi nostrum quam quas quasi recusandae reprehenderit sunt,
                        suscipit voluptatibus.
                    </p>
                </div>
            </div>
            <div class="list-item">
                <div class="image-box rounded bg-red-600">
                </div>
                <div class="body py-2">
                    <h3 class="font-bold">Season 02: Episode 23</h3>
                    <p class="line-clamp-2 text-sm">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos suscipit tempore veniam? Aut beatae doloremque
                        facere illum iure labore laborum nisi nostrum quam quas quasi recusandae reprehenderit sunt,
                        suscipit voluptatibus.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!--contact us-->
    <div id="contact">
        <div class="content py-6 md:py-16 px-4 md:px-20">
            <div class="title border-b border-red-600 mb-6 md:mb-8">
                <h1 class="text-2xl my-3">Contact Us</h1>
            </div>
            <div class="row md:text-xl md:px-8">
                <div class="col-sm-6 px-4">
                    <p>
                        Have a question ? please don't hesitate to contact us about anything. We'll reply in at least 24 hours
                    </p>
                </div>
                <div class="col-sm-6">
                    <mat-form-field>
                        <input type="text" placeholder="Name" matInput />
                    </mat-form-field>
                    <mat-form-field>
                        <input type="email" placeholder="Email" matInput />
                    </mat-form-field>
                    <mat-form-field>
                        <textarea matInput placeholder="Message" rows="5"></textarea>
                    </mat-form-field>
                    <div class="py-2">
                        <button mat-raised-button color="primary">Send</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<app-footer></app-footer>
