<section>
    <section class="title bg-red-900 pt-6 pb-8 px-6">
        <h1>All episodes</h1>
    </section>
<!--    -->
    <div class="body pt-8">
        <div class="lists px-4">
            <div class="list-item border-b py-2 md:flex">
                <div class="icon md:px-6">
                    <img src="../../../assets/images/icons/icons8_video_96px_1.png" alt="">
                </div>
                <div class="">
                    <h1 class="font-bold text-2xl">Season 4 - Episode 1: Clara meets blake</h1>
                    <p class="line-clamp-2 text-sm">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        A ad aperiam commodi doloremque iste maiores, odit perspiciatis ratione rem similique ut vel?
                        Laboriosam mollitia nobis numquam omnis, praesentium quibusdam sed!
                    </p>
                    <div class="footer py-3">
                        <button mat-button>View</button>
                        <button mat-button>Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
