<app-toolbar></app-toolbar>
<main>
    <div class="page-container self-center">
        <div class="message-container text-white">
<!--            <span class="text-2xl text-red-600"><mat-icon>report_problem</mat-icon></span>-->
            <span class="message-content text-white">Unable to communicate with our servers</span>
        </div>
        <div class="text-white">
            <span>We are unable to reach our servers, Probably your device doesn't have a healthy internet connection</span>
        </div>
        <div class="py-2 text-center">
            <button mat-raised-button color="primary" routerLink="/">Refresh page</button>
        </div>
    </div>
</main>
<app-footer></app-footer>
