@import "app/styles/responsive";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#container {
    max-width: 800px;
    margin: 0 auto;
}

html, body { height: 100%; }
body {
    margin: 0;
    font-family: 'Fira Sans', sans-serif;
    background-color: #000000;
    color: #ffffff;
}
.row {
    margin-right: 0 !important;
    margin-left: 0 !important;
}
$toolbar-height: 60px;
#toolbar {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    height: $toolbar-height;
}
main {
    margin-top: $toolbar-height;
    min-height: calc(100% - 65px);
    position: relative;
}
/*
===== resets
*/
mat-form-field {
    width: 100% !important;
}
/*
====== Fonts ==========
*/
.font-dancing-script {
    font-family: 'Dancing Script', cursive;
}
/*
=====================
*/
.self-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
img.fill-img {
    min-height: 100%;
    min-width: 100%;
    max-height: 150%;
}
.page-header {
    display: flex;
    height: 85px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
}
.text-wrap {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.video-container {
    .image-container {
        height: 180px;
    }
}
.text-m-wrap {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

*[class^=line-clamp] {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
}
.line-clamp-2 {
    -webkit-line-clamp: 2;
}.line-clamp-3 {
    -webkit-line-clamp: 3;
}.line-clamp-4 {
    -webkit-line-clamp: 4;
}

/*
*/
.list {
    width: 100%;
    text-align: center;
    .list-item {
        width: 100%;
    }
    @include sm-screens {
        white-space: nowrap;
        overflow-x: auto;
        .list-item {
            width: 296px;
            padding: 0 10px;
            display: inline-block;
        }
    }
}

.contestant-card {
    height: auto;
    .card-header {
        height: 230px;
        overflow: hidden;
        border-radius: 15px;
        width: 100%;
        background-color: #e53e3e;
        img {
            transition: transform 0.4s ease-out;
        }
        &:hover {
            img {
                transform: scale(1.2);
            }
        }
    }
}
/*
Scrollbar
*/
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.3);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #e53e3e;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b23232;
}
