<app-toolbar></app-toolbar>
<main class="mb-8 md:mb-16">
    <section class="page-header bg-black">
        <h1 class="text-3xl font-dancing-script">Episodes</h1>
    </section>
<!--    body-->
    <section *ngIf="episodes" class="body px-6 pt-16 pb-6">
        <div *ngIf="episodes[0]" class="banner px-16">
            <div class="box bg-black rounded-lg">
                <div class="fill rounded-lg">
                    <h1 class="text-white cursor-pointer text-2xl">Episode {{episodes[0].episodeNumber}}: {{episodes[0].title}}</h1>
                    <p class="description text-white text-sm">
                        {{episodes[0].description}}
                    </p>
                </div>
            </div>
        </div>
        <!--episodes list-->
        <section *ngIf="episodes.length > 0" class="season px-16 pt-8">
            <div class="header border-b pt-2 pb-3 mb-4">
                <h1 class="font-bold text-2xl">Season {{episodes[0].seasonNumber}}</h1>
            </div>
            <div class="elements px-4">
                <div class="row">
                    <div *ngFor="let ep of episodes;" class="video-container col-sm-4 cursor-pointer">
                        <div class="image-container mb-4 h-32 bg-black">
                        </div>
                        <div class="text">
                            <h1 [routerLink]="'/watch/' + ep.id"  class="title cursor-pointer text-xl font-bold text-wrap">Episode {{ep.episodeNumber}}: {{ep.title}}</h1>
                            <p class="text-m-wrap">{{ep.description}}</p>
                            <div class="date flex mt-4 pt-2 pb-4 border-t">
<!--                                <p class="text-sm text-gray-800">23, Feb 2020</p>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- If no records are found-->
        <section *ngIf="episodes.length === 0" class="h-64 flex justify-content-center flex-column align-items-center">
            <h1 class="text-xl m-0">
                Episodes aren't available at this time
            </h1>
            <p class="m-0">Check again later</p>
        </section>
    </section>
    <section *ngIf="!episodes" class="h-64 flex justify-content-center align-items-center">
        <mat-progress-spinner></mat-progress-spinner>
    </section>
</main>
<app-footer></app-footer>
