<section class="footer text-white bg-black px-6">
    <div class="row pb-10 pt-6">
        <div class="col-sm-4">
            <h1 class="text-4xl font-dancing-script">{{appName}}</h1>
        </div>
        <div class="col-sm-8"></div>
    </div>
    <div class="flex justify-content-between px-4 py-3" style="background: rgba(0, 0, 0, 0.2)">
        <small>&copy; 2020. All rights reserved</small>
        <small>Designed by <a class="hover:underline hover:text-blue-600" href="https://enchirdentity.com" target="_blank">Enchird Entity</a></small>
    </div>
</section>
