<section class="footer text-white bg-black px-6">
    <div class="row pb-10 pt-6">
        <div class="col-sm-4">
            <h1 class="text-4xl font-dancing-script">{{appName}}</h1>
        </div>
        <div class="col-sm-8">
            <div class="row">
                <div class="col-sm-6">
                    <p>Follow us on our social media</p>
                    <div class="icons">
                        <a href="https://www.facebook.com/numberonegirltv" target="_blank">
                            <img src="assets/images/icons/icons8_facebook_old_96px.png" alt="facebook">
                        </a>
                        <a href="https://www.instagram.com/numberonestartv" target="_blank">
                            <img src="assets/images/icons/icons8_instagram_96px.png" alt="instagram">
                        </a>
                        <a href="https://www.twitter.com/numberonegirltv" target="_blank">
                            <img src="assets/images/icons/icons8_twitter_96px.png" alt="twitter">
                        </a>
                    </div>
                </div>
                <div class="col-sm-6"></div>
            </div>
        </div>
    </div>
    <div class="md:flex justify-content-between px-2 md:px-4 py-3" style="background: rgba(0, 0, 0, 0.2)">
        <div>
            <small>&copy; 2020. All rights reserved</small>
        </div>
        <div>
            <small>
                Designed by
                <a class="hover:underline hover:text-red-600" href="https://enchirdentity.com" target="_blank">Enchird Entity</a>
            </small>
        </div>
    </div>
</section>
